.ws-lay-head{
	background-color: $bg-color3;
	display: flex;
	justify-content:space-between;
	line-height: 1em;
	font-size:40px;
	border-radius: 5px 5px 0 0;
	cursor: move;
	.ws-lay-title{
		padding: 0 1em;
		@include no-select;
		@include no-wrap;
		max-width:90%; 
	}
	.ws-lay-close{
		padding: 0 1em;
		cursor: pointer;
		text-align: center;
		i{
			color: $bg-color8;
		}
		&:hover{
			// (会导致某些页面节点字体抖动、模糊 暂时弃用)
			// transform:rotate(360deg);
			// transition:translateZ(0) transform 1s;
			i{
				color:$bg-primary;
				transition:transform 0.4s;
			}
		}
	}

}
.ws-lay-body{
	width: 100%;
	height: auto;
	min-height: 80px;
	max-height: 90%;
	padding: 10px;
}
.ws-lay-foot{
	width: 100%;
	height: auto;
	padding: 10px ;
	padding-bottom: 20px;
	border-radius: 0 0 5px 5px;
	display: flex;
	justify-content:flex-end;
}
