.ws-calendar{
	padding: 10px;
	background-color: #fff;
	box-sizing:border-box;
	display: inline-block;
	border-collapse: collapse;
	box-shadow: 0 0 2px 1px $bg-color4;
	border-radius: 2px;
	@include no-select;
	.ws-calendar-title{
		line-height: 30px;
		display: flex;
		justify-content:space-around;
		.ws-calendar-year,.ws-calendar-month,i,.ws-calendar-prev-year,.ws-calendar-next-year{
			color: $bg-color7;
			cursor: pointer;
			&:hover{
				color: $bg-info;
			}
		}
		.ws-calendar-year,.ws-calendar-month{
			color: $bg-color9;
		}
	}
	.ws-calendar-row{
		width: auto;
		height: auto;
		display: table-row;
		.ws-calendar-col{
			font-size: 13px;
			color: $bg-color0;
			display: table-cell;
			&.is-date{
				position: relative;
				cursor: pointer;
				&.is-check:not(.is-disable):not(.is-selected):hover,&.is-check.is-range{
					background-color: $bg-color;
				}
				&.is-disable:hover{
					cursor: not-allowed;
				}
				&.is-check.is-selected{
					background-color: $bg-info;
					color: #fff;
					border-radius: 2px;
				}
				.ws-calendar-sign{
					position: absolute;
					right: 9px;
					bottom: 6px;
					font-size: 16px;
					font-weight: bold;
					color:$bg-danger;
					line-height: 1em;
				}
			}
		}
		&.date .ws-calendar-col{
			width: 30px;
			line-height: 30px;
		}
		&.ws-calendar-head{
			border-bottom: solid 1px $bg-color4;
			cursor: default;
			margin-bottom: 2px;
			.ws-calendar-col{
				color: $bg-color8;
			}
		}
	}

}

.ws-date{
	display: inline-block;
	position: relative;
	.ws-date-main{
		position: absolute;
		left: 0px;
		padding-top: 3px;
		width: 230px;
		z-index: 20170101;
	}	
}