.ws-date{
	padding: 10px;
	background-color: #fff;
	box-sizing:border-box;
	display: inline-block;
	border-collapse: collapse;
	box-shadow: 0 0 2px 1px $bg-color4;
	border-radius: 2px;
	@include no-select;
	.ws-date-title{
		line-height: 30px;
		display: flex;
		justify-content:space-around;
		.ws-date-year,.ws-date-month,i,.ws-date-prev-year,.ws-date-next-year{
			color: $bg-color7;
			cursor: pointer;
			&:hover{
				color: $bg-info;
			}
		}
		.ws-date-year,.ws-date-month{
			color: $bg-color9;
		}
	}
	.ws-date-row{
		width: auto;
		height: auto;
		display: table-row;
		.ws-date-col{
			font-size: 13px;
			color: $bg-color0;
			display: table-cell;
			&.is-date{
				position: relative;
				cursor: pointer;
				&.is-check:hover{
					background-color: $bg-color;
				}
				&.is-check.is-selected{
					background-color: $bg-info;
					color: #fff;
					border-radius: 2px;
				}
				.ws-date-sign{
					position: absolute;
					right: 7px;
					bottom: 4px;
					font-size: 16px;
					font-weight: bold;
					color:$bg-danger;
					line-height: 1em;
				}
			}
		}
		&.date .ws-date-col{
			width: 38px;
			line-height: 38px;
		}
		&.ws-date-head{
			border-bottom: solid 1px $bg-color4;
			cursor: default;
			margin-bottom: 2px;
			.ws-date-col{
				color: $bg-color8;
			}
		}
	}

}