.ws-message-box{
	position: absolute;
	
	width: auto;
	height: auto;
	min-width: 380px;
	max-width: 90%;
	max-height: 90%;
	background-color: #fff;
	box-shadow: 0 0 3px $bg-color8;
	border-radius: 5px;
	
}