.ws-tooltip{
	position: relative;
	width: auto;
	display: inline-block;
	.ws-tooltip-main{
		position: absolute;
		width: auto;
		padding: 5px 10px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		cursor: default;
		z-index: 20180125;
		@include no-select;
		.ws-tooltip-arrow{
			position: absolute;
			color: rgba(0,0,0,0.8);

		}
	}
	
}