$font-family:"Times New Roman",Times,"宋体","微软雅黑",serif;

//通用行高、字体大小
$line-height: 25px;
$font-size:14px;
//通用色彩
$default-color:#333;
$bg-primary:#009688;
$bg-success:#19be6b;
$bg-info:rgb(64,158,255);//#1E9FFF
$bg-warm:#ff9900;
$bg-danger:#FF5722;
$bg-gray:#EEEEEE;
$bg-black:#393D49;
$bg-cyan:#2F4056;

//简色 数字越大 色彩越深
$bg-color:#F0F0F0;
$bg-color2:#f2f2f2;
$bg-color3:#eeeeee;
$bg-color4:#e2e2e2;
$bg-color5:#dddddd;
$bg-color6:#d2d2d2;
$bg-color7:#c2c2c2;
$bg-color8:#999;
$bg-color9:#888;
$bg-color0:#666;


//layout总列数
$layout-weight:24;


