*{box-sizing:border-box; color: $default-color;font-family: $font-family;font-size: $font-size;font-smoothing: antialiased;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,table{margin: 0px;padding: 0px;}
html{height: 100%;}
body{min-height: 100%;}
li{list-style-type: none;}
a{text-decoration: none;}
img{border-width:0px; }
textarea,input,button{outline: none;border-width: 0px;}
.ws-icon{
  	font-family:"iconfont" !important;
  	font-size:16px;
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
@mixin no-select{user-select:none;}
@mixin m-x5{margin-left: 5px;margin-right: 5px;}
@mixin position-center{position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);}

@mixin btn-lg{padding-left: 25px;padding-right: 25px;line-height: 43px;}
@mixin btn-default{padding-left: 20px;padding-right: 20px;line-height: 38px;}
@mixin btn-sm{padding-left: 13px;padding-right: 13px;line-height: 30px;}
@mixin btn-xs{padding-left: 6px;padding-right: 6px;line-height: 22px;}
